* {
  font-family: 'IBM Plex Sans';
  font-size: 30px;
}
button {
  display: block;
  margin-top: 20px;
  background: #3257ff;
  border: none;
  border-radius: 4px;
  transition: 0.15s all;
  font-size: 20px;
  padding: 5px 15px;
  color: #fff;
}
button:active {
  transform: scale(0.9);
}
button:focus {
  outline: none;
  box-shadow: 0 0 5px #3257ff;
}
#root div {
  margin: 0 auto;
  max-width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 60px;
}
.hidden {
  opacity: 0.7;
}
